*
{
    margin: 0px;
    padding: 0px;
}

body
{
    font-family: sans-serif;
}

.nav-bar
{
    position: sticky;
    top: 0px;
    z-index: 10px;

}

.navbar
{
    background-color:  #a517ba;
     padding: 0px !important;
}

.navbar-brand img
{
    height: 80px;
    padding-left: 30px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    color: #fff !important;
    float: right;
    text-align: left;
}

.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler
{
    outline: none !important;
}

/*------------Banner section----------*/

#banner
{
    background-color:  #a517ba;
    color: #fff;
    padding-top: 5%;
}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
}

.play-btn
{
    width: 45px;
    margin: 20px;
}

#banner a
{
    color: #fff;
    text-decoration: none;
}
#banner a:hover
{
    color: black;
    text-decoration: underline;
}



.img-fluid
{
margin-top: -55px;
}